.App {
  /* background gradient for app */
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  /* sizing for apps */
  height: 100vh;
  /* content layout specifications */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  /* header size */
  height: 4rem;
  width: 100%;
  /* line at bottom of header */
  border-bottom: 2px solid white;
  /* header layout specs */
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 0 1rem;
  /* header color */
  background: rgba(205, 97, 255, 0.3);
}
.logo {
  /* logo size */
  height: 3.5rem;
  width: 3.5rem;
  /* image link */
  background: url("https://www.kindpng.com/picc/m/5-53567_collection-of-lavender-butterfly-clipart-high-quality-cute.png");
  /* logo position */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* circle cutout */
  border-radius: 50%;
  /* logo border */
  border: 1px solid white;
}
.title {
  /* header text specifications */
  color: white;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}
.messages {
  /* message text specs */
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  flex: 1;
}
.message-row {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: row;
}
.message {
  /* message bubble specs */
  color: white;
  background: rgba(205, 97, 255);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  max-width: 20rem;
  min-height: auto;
  overflow-wrap: break-word;
  position: relative;
}
.message-user {
  position: absolute;
  left: 0;
  top: -0.8rem;
  font-size: 0.5rem;
}
.message:before {
  /* message bubble triangle */
  content: '';
	position: absolute;
	left: 0;
	top: 65%;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	border-right-color: rgba(205, 97, 255);
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.25em;
	margin-left: -0.45em;
}
.name-picker {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.name-picker svg {
  stroke: white;
  cursor: pointer;
}
.username{
  position: absolute;
  right:2rem;
}