.user {
  /* username button specs */
  color: white;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.username-input {
  /* username text specs */
  width:10rem;
  border: 1px solid white;
  height: 2rem;
  border-radius: 1rem;
  margin-left: 2rem;
  padding: 0 1rem;
  background: rgba(205, 97, 255, 0.3);
  color: white;
}
.go {
  /* username button specs */
  background: white;
  border: none;
  border-radius: 1rem;
  height: 1.7rem;
  width: 3rem;
  margin-left: 0.5rem;
  left: 2rem;
  cursor: pointer;
  color: rgba(205, 97, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
}

.icon{
  height: 1rem;
  width: 1rem;
  color: #8EC5FC;
  cursor: pointer;
}